:root {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
}

.page {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 320px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
}

.div-qr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 30px);
    height: 60%;
    top:15px;
}

.img-qr {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 30px);
    text-align: center;
    margin: 0;
}

.text1 {
    margin: 0;
}

.text2{
    color: hsl(220, 15%, 55%);
    margin: 0;
}
